{% for rpi in page_obj %}
	<tr>
		<td>
             {{rpi.rpi.name}}
		</td>
        <td>
            {{rpi.location.name}}
        </td>
        <td>
            <div class=" ">
                <a title="Deploy" href="{% url 'rpi:view_rpis' %}" class="btn btn-sm btn-outline-success"><i class="fa-solid fa-key-skeleton-left-right"></i>&nbsp;Connect</a>
                        {% comment %} <input class="form-check-input" type="checkbox" value="connect" name="connect" id="connect"  >
                        <label class="form-check-label" for="deployed"></label> {% endcomment %}
            </div>
        </td>
    
        {% if rpi.rpi.checked_in ==  null %}
            <td>
                Never
            </td>
        {% else %}
            <td>
                {{rpi.rpi.checked_in}}
            </td>
        {% endif %}
		
	</tr>
{% endfor %}
