
{% for model in models %}
	<tr>
		<td>
            {{model.name}}
		</td>
        <td></td>
		<td style="text-align: right">
            <div class=" btn-group">
                <a title="Edit" href="{% url 'rpi:edit_model' model.id %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-edit"></i> Edit</a>
                <span title="Delete" hx-delete="{% url 'rpi:delete_model' model.id %}"  class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i> Delete</span>
            </div>
		</td>
	</tr>
{% endfor %}
