{% extends 'navbar.html' %}

{% block content %}

<div class="col mt-5">
  
  <div class="border p-3">
      <div class="input-group">
        <input id="search" class="form-control" type="search" 
            name="search" placeholder="Begin Typing To Search rPis..." 
            hx-post="{% url 'rpi:rpi_deployed_search' %}?page={{page_obj.number}}&order_by={{order_by}}&sort={{sort}}" 
            hx-trigger="keyup changed delay:500ms, search" 
            hx-target="#rPiTable" 
            hx-indicator=".htmx-indicator">
      </div>
                    
        <span class="htmx-indicator"> 
          Searching... 
        </span> 
      <div class="table-responsive-md ">
        <table class="table table-striped table-hover align-middle table-list-search">
          <thead>
            <tr>
              <th>
                Name &nbsp;<a href="?order_by=name"><i class="fas fa-angle-up"></i></a>&nbsp;<a href="?order_by=name&sort=desc"><i class="fas fa-angle-down"></i></a>
              </th>
              <th>
                Serial Number
              </th>
              <th>
                Deployed
              </th>
              <th >
                Last Checked In&nbsp;<a href="?order_by=checked_in"><i class="fas fa-angle-up"></i></a>&nbsp;<a href="?order_by=checked_in&sort=desc"><i class="fas fa-angle-down"></i></a>
              </th>
			      </tr>
          </thead>
          <tbody id="rPiTable" hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                {% include 'rpi/partials/raspberry-pi-list.html' %} 
          </tbody>
        </table>
	      </div>
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>
      </div>
     
    
  </div>
</div>

{% endblock %}