{% extends "navbar.html" %}

{% block content %}
<div class="container">
    <div class="justify-content-center mt-5">
        
        <div class="card shadow-sm login-card col-lg-6 col-md-6 col-sm-6 mx-auto" >
            <div class="card-header">
                Forgot password
            </div>
            <div class="card-body  ">
                {% if form.errors %}
                    <p>Error</p>
                {% endif %}
                <form  method="POST" action="{% url 'users:forgot_password' %}">
                    {% csrf_token %}
                    
                    <div class="line mb-4">
                        <label for="formInput#email">Email Address: </label>
                        <input
                        class="form-control"
                        id="formInput#email"
                        type="email"
                        name="email"
                        placeholder="e.g. user@domain.com"
                        required
                        />
                    </div>
                    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Reset password</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}