{% extends "main.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'core:index' %}">{{ settings.APP_NAME }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class ="nav-item">
        <a class="nav-link" href="{% url 'core:index' %}">Dashboard</a>
      </li>
      {% else %}
       <li class ="nav-item">
        <a class="nav-link" href="{% url 'core:index' %}">Home</a>
       </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class ="nav-item">
          <a class="nav-link" href="{% url 'core:index' %}">Raspberry Pis</a>
      </li>
      <li class ="nav-item">
          <a class="nav-link"  href="{% url 'core:index' %}">Deployed</a>
      </li>
      {% endif %}

    </ul>
    

    <div class="navbar-collapse  " id="navbarNavDarkDropdown">
      {% if user.is_authenticated  %}
          <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li class ="nav-item">
                <a class="dropdown-item" href="{% url 'rpi:view_models'  %}">rPi Models</a>
              </li>
              <li class ="nav-item">
                <a class="dropdown-item" href="{% url 'rpi:view_models'  %}">Locations</a>
              </li>
              <li class ="nav-item">
                <a class="dropdown-item" href="{% url 'rpi:view_models'  %}">Users</a>
              </li>
              <li class ="nav-item">
                <a class="dropdown-item" href="{% url 'rpi:view_models'  %}">API Keys</a>
              </li>
              
            
            </ul>
          </li>
       
        </ul>
      {% endif %}
      </div>
      <div class="navbar-collapse justify-content-end " id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        {% if  user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li class ="nav-item">
                <a class="dropdown-item" href="">Settings</a>
              </li>
              <li class ="nav-item">
                <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'core:index' %}">Logout</a>
              </li>
            
            </ul>
          </li>
        {% else %}
          <li class ="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={% url 'core:index' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>


</nav>

{% endblock %}